/* Carousel.module.css */

.carouselContainer {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .carouselWrapper {
    overflow: hidden;
  }
  
  .carouselTitle {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .carouselSlide {
    position: relative;
    aspect-ratio: 21/9;
    margin-top: 30px;
  }
  
  .carouselSlide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Carousel.module.css */

/* Carousel.module.css */

.carouselTextOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: #fff; /* Color del texto, ajusta según el fondo de tu imagen */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    padding: 80px;
  }
  
  .carouselTextOverlay h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-size: var(--subtitle-1);
    color: var(--neutral-10);
    max-width: 700px;
  }
  
  .carouselTextOverlay p {
    font-size: 14px;
    margin: 0; 
    margin-bottom: 20px;
    text-align: left; 
    font-size: var(--body-2);
    color: var(--neutral-100);
    max-width: 700px;
  }
  
  