.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  margin: 60px 0;
}

.searchForm {
  width: 100%;
  max-width: 1000px; 
  display: flex;
  position: relative;
}

.searchInput {
  flex: 1;
  padding: 12px; 
  /* border: 1px solid #ffc107; */
  border: none;
  background-color: var(--neutral-50);
  border-radius: 20px;
  height: 50px; 
  color: var(--primary-900);
}

.searchButton {
  padding: 5px; 
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: var(--primary-800);
  cursor: pointer;
  height: 40px; 
  display: flex;
  align-items: center; 
  position: absolute;
  right: 5px;
  top: 10%;
}
.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; 
}

.searchInput {
  flex: 1;
  width: calc(100% - 32px); 
}

.clearButton {
  position: absolute;
  right: 8px; 
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}


