/* detailPage.module.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .poster {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .properties {
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .info {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .videoContainer {
    /* Ajusta el espacio entre la sección de propiedades y el video según sea necesario */
  }
  .recommendedList {
    display: flex;
    overflow-x: auto;
    gap: 10px; /* Ajusta el espacio entre las imágenes */
    padding: 10px; /* Ajusta el espacio interno del contenedor */
  
    /* Estilos de la barra de desplazamiento */
    scrollbar-width: thin;
    scrollbar-color: darkgray lightgray;
  }
  
  .recommendedItem {
    flex: 0 0 auto;
    width: 200px; /* Ajusta el ancho de cada elemento según tus necesidades */
  }
  
  .recommendedImage {
    width: 100%;
    height: 100%; /* Cambiado a 100% para asegurar un tamaño consistente */
    object-fit: cover; /* Ajusta cómo se ajusta la imagen dentro del contenedor */
    border-radius: 8px; /* Ajusta la esquina redondeada según tus necesidades */
  }
  
  /* Estilos específicos para Webkit (Chrome, Safari) */
  .recommendedList::-webkit-scrollbar {
    width: 8px;
  }
  
  .recommendedList::-webkit-scrollbar-thumb {
    background-color: darkgray;
  }
  
  .recommendedList::-webkit-scrollbar-track {
    background-color: lightgray;
  }